/**
.ui-widget {
    font-size: 12px !important;
}

.ui-layout-north {
    z-index: 20 !important;
    overflow: visible !important;;
}
.ui-layout-north .ui-layout-unit-content {
    overflow: visible !important;
}
.ui-button {
    margin-top: 10px !important;
}
.ui-widget-header {
    text-align: center;
    text-transform: uppercase;
}

.ui-selectonemenu label.ui-selectonemenu-label{
   width:100% !important;
}
*/

/* Labels */
label, .df-label {
	font-weight: lighter;
}

.df-left {
	text-align: left !important;
}

/* Selects */
.ui-selectonemenu .ui-selectonemenu-trigger {
	width: auto !important;
}

.pe-dynaform-cell {
	padding-bottom: 8px;
}

.pe-dynaform-label {
	text-align: left;
	padding: 2px, 20px, 0, 0;
}

/* Separator */
.pe-dynaform-cell.separator {
	padding: 10px, 0, 10px, 0;
}

.pe-dynaform-cell.separator .separatorText {
	width: 15%;
	padding-left: 0;
}